body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}
.section-1{
  height: 100vh;
}
.btn-circ{
  border:0px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
.section-1 h1{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #202020;
}
.info-wrapper{
  max-width: 840px;
  margin: auto;
}
.section-1 h1 span {
  color: #2ECC71;
}
.section-1 .scroll{
  max-width: 28px;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 250px;
}
.scroll .scrolling {
    opacity: 0;
    -webkit-animation-name: scrolling;
    animation-name: scrolling;
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    opacity: 0; }
  20% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); } }

@keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    opacity: 0; }
  20% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); } }

/*section 2 starts from here*/
.section-2 .row{
    padding-bottom: 200px;
}
.left-side-wrapper h2 {
    color: #202020;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 5px;
}
.left-side-wrapper p{
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}
.left-side-wrapper .divider{
  width: 50%;
  height: 1px;
  background-color: #CCCCCC;
  margin: 30px 0
}
.left-side-wrapper ul li {
    margin-bottom: 5px;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}
.left-side-wrapper ul li strong{
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.btn-md{
  margin: 0;
}
.parallax .position-1{
  position: absolute;
  z-index: 3;
}
.parallax .position-2 ,.parallax .position-3{
  position: absolute;
  z-index: 2;
}
.retake.position-1{
  position: absolute;
  top: 100px;
}
.retake img{
    filter: drop-shadow(0px 15px 15px rgba(27,42,53,.5));
    webkit-filer: drop-shadow(0px 15px 15px rgba(27,42,53,.5));
}
