a {
  cursor: pointer;
}
a {
  color: #9acd91;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
*{
  font-family: 'PT Sans', sans-serif;
}
body{
  background-image: url('../images/fond.jpg');
  background-attachment: fixed;
}

.not-visible {
    visibility: hidden;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
	}
	@media (min-width:768px){
		.container{width:750px;
			}
	}
	@media (min-width:992px){
		.container{
			width:970px;
			}
	}
	@media (min-width:1200px){
		.container{
			width:1170px;
			}
	}
	.container-fluid{
		margin-right:auto;
		margin-left:auto;
		padding-left:15px;
		padding-right:15px;
	}
.background-wrapper{
  height: 100vh;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
}
.background-wrapper .color-wrap{
  background-color:#8ad499;
  height: 100%;
}
.background-wrapper .text-wrap{
  height: 100%;
}
.information-wrapper{
  height: 100%;
  z-index: 5;
  color: black;
}
.navbar-wrap {
  height: 100px;
  width: 100%;
  z-index:20;
  transition: all ease-in .3s;
}
.nav-fix{
  position: fixed;
  top: 0;
}
.header-row-5co{
  height: 100px;
  z-index: 20;
}
.nav-li-items div {
    padding: 0px 25px 0px 15px;
}
.nav-li-items a {
    color: #353535;
    font-weight: 500;
    transition: color 300ms 0s ease;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5;
    /*cursor: pointer;*/
    font-size: 16px;
    padding-bottom: 15px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}
.ti-nfs{
  fill:#8ad499 !important;
  height:100px;
  width:100px;
  background-color: #8ad499;
 -webkit-mask-image: url(../images/logo.svg);
 mask-image: url(../images/logo.svg);
}
.inf-wrap{
  z-index: 4;
}
.intro{
  margin-top: 60vh;
  width: 200px;
  float: right;
}
.intro span,.recent-list-itm span{
  font-size: 14px;
  color: #8ad499;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.intro h2{
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 40px;
  position: relative;
  left: -1px;
  opacity: 0.7;
  font-family: 'PT Sans', sans-serif;
  /*font-family: 'Jura', sans-serif;*/
}

.ti-font{
  font-size:18px;
  opacity: 0.4;
  color: black;
  margin-right: 20px;
}
.ti-angle-down{
  color: #8ad499;
  font-size: 24px;
  position: relative;
  top:40px;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;;
}
  @keyframes stretch {
    0% {
      top: 40px;
    }
    50% {
      top: 50px;
    }
    100% {
      top: 40px;
    }
  }
.work-exp-inf{
  margin: 0px 0;
  width: 200px;
  float: left;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 28px;
  position: relative;
  left: -1px;
  opacity: 0.7;
  font-family: 'PT Sans', sans-serif;
}
.recent-list{
  width: 100%;
  }
.recent-list-itm{
  margin-top:100px;
  background-image: url('../images/circle.svg') no-repeat;
  width: 100%;
  height: 111px;
}
.recent-list-itm p{
  font-size: 20px;
  margin:5 0 0;
}
.recent-work-port{
  margin-top: 50px;
margin-bottom: 150px;
}
.recent-work-port a{
  height: 186px;
  width: 244px;
  margin-right: 27px;
  margin-bottom: 30px;
  float: left;
  border: 6px solid #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .38);
}
.retake-link{
  background-image: url('../images/retake.png');
  background-size: contain;
}
.bevy-link{
  background-image: url('../images/bevy.png');
  background-size: contain;
}
.radio-link{
  background-image: url('../images/radio.png');
  background-size: contain;
}
.move-link{
  background-image: url('../images/move10x.png');
  background-size: contain;
}
.footer-btn{
  width: 170px;
height: 50px;
margin: auto;
position: relative;
left: 0;
right: 0;
bottom: 0;
font-size: 16px;
border: 2px solid #464646;
color: #464646;
background: none;
white-space: nowrap;
overflow: hidden;
border-radius: 50px;
transition: all 0.5s cubic-bezier(.25,.8,.25,1);
/* -webkit-animation: over 6s infinite; */
}
footer{
  background: #8ad499;
  height:280px;
}
