body{
  background: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.section-1{
  height: 100vh;
}
.btn-circ{
  border:0px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
.section-1 h1{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.75rem;
  color: #202020;
}
.info-wrapper{
  max-width: 840px;
  margin: auto;
}
.section-1 h1 span {
  color: #2ECC71;
}
.section-1 .scroll{
  max-width: 28px;
  width: 100%;
  margin: 70px auto;
}
.scroll .scrolling {
    opacity: 0;
    -webkit-animation-name: scrolling;
    animation-name: scrolling;
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    opacity: 0; }
  20% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); } }

@keyframes scrolling {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    opacity: 0; }
  20% {
    opacity: 1; }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0%, 70%, 0);
            transform: translate3d(0%, 70%, 0); } }

/*section 2 starts from here*/
.section-2 .row{
    padding-bottom: 200px;
}
.left-side-wrapper h2 {
    color: #202020;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 5px;
}
.left-side-wrapper p{
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-bottom: 10px;
}
.left-side-wrapper .divider{
  width: 50%;
  height: 1px;
  background-color: #CCCCCC;
  margin: 30px 0;
}
.left-side-wrapper ul li {
    margin-bottom: 5px;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
}
.left-side-wrapper ul li strong{
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.btn-md{
  margin: 0;
}
.parallax .position-1{
  position: absolute;
  z-index: 3;
}
.parallax .position-2 ,.parallax .position-3{
  position: absolute;
  z-index: 2;
}
.radio.position-1{
  position: absolute;
  top: 200px;
}
.radio.position-3{
  position: absolute;
  top: 270px;
  left: 100px;
}
.retake.position-1{
  position: absolute;
  top: 350px;
}
footer{
  background-color: #f5f5f5;
  padding-bottom: 100px;
  margin-top: 200px;
}
footer h3{
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 5px;
}
footer a {
  color: #2ECC71;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: underline !important;
}
footer a:hover{
  color: black;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media screen and (max-width: 1200px) and (min-width: 350px) {
  .section-1 h1{
    font-size: 3rem;
    line-height: 3.7rem;
    text-align: center;
  }
  footer{
    margin-top:70px;
    }
    footer h3{
    color: #202020;
    text-align: left;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.7rem;
    margin-bottom: 5px;
  }
}

@media (max-width: 1024px){
  footer h3 {
      font-size: 36px;
      line-height: 44px;
  }
  section-1 h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (max-width: 800px){
    footer h3 {
      font-size: 36px;
      line-height: 44px;
      padding-top: 40px;
  }
  section-1 h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (max-width: 680px){
  footer {
    padding-bottom: 50px;
    margin-top: 50px;
  }
    footer h3 {
      font-size: 22px;
      line-height: 28px;
      padding-top: 20px;
  }
  section-1 h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
